<div class="row d-flex justify-content-center">  

    <!-- DATE SELECTOR -->
    <div class="col-12 mb-4">
        <div class="row justify-content-center">
            <button type="button" class="btn btn-secondary col-3" (click)="goToPreviousDate()">&lt;</button>
            <h5 class="col-6 text-center">
                {{dateString(selectedDate)}}
            </h5>
            <button type="button" class="btn btn-secondary col-3" (click)="goToNextDate()">&gt;</button>
        </div>
    </div>

    <!-- MAP CONTAINER -->
    <div class="col-12">
        <div class="row d-flex justify-content-center">
            <!-- MAP -->
            <agm-map
                class="col-12"
                [latitude]="map_lat"
                [longitude]="map_lng"
                [zoom]="map_zoom"
                (mapReady)="mapReadyHandler($event)"
                [disableDefaultUI]="true"
                >
                <!-- TOURS -->
                <div *ngFor="let c of markerContainers">
                    <!-- POINT MARKERS -->
                    <!-- <agm-marker 
                        *ngFor="let m of c.markers; let i = index"
                        [latitude]="m.lat"
                        [longitude]="m.lng"
                        [label]="m.showLabel?{
                            color: c.color,
                            text: m.label,
                            fontSize: '1.8em',
                            fontWeight: '500'
                        }:''"
                        [iconUrl]="markerIconMap.get(m.iconMapKey)"
                        >
                    </agm-marker> -->
                    <agm-marker 
                        *ngFor="let m of c.markers; let i = index"
                        [latitude]="m.lat"
                        [longitude]="m.lng"
                        [label]="false?{
                            color: c.color,
                            text: m.label,
                            fontSize: '1.8em',
                            fontWeight: '500'
                        }:''"
                        [iconUrl]="{
                            path: getSvgPath(m.iconMapKey),
                            anchor: anchorConst,
                            fillColor: c.color,
                            fillOpacity: 0.5,
                            labelOrigin: labelOriginConst,
                            rotation: 0,
                            scale: 1,
                            strokeColor: 'black',
                            strokeOpacity: 0.7,
                            strokeWeight: 1
                        }"
                        >
                    </agm-marker>
                    <!-- POLYLINE -->
                    <agm-polyline *ngIf="c.markers.length > 0" [strokeColor]="c.color">
                        <agm-polyline-point 
                            *ngFor="let point of c.markers; let i = index"
                            [latitude]="point.lat"
                            [longitude]="point.lng"
                        >
                        </agm-polyline-point>
                    </agm-polyline>
                </div>
            </agm-map>
        </div>
    </div>
  
  </div>