agm-map {
    height: 700px;
    width: 100%;

    @media screen and (max-width: 1600px) {
        height: 500px;
    }

    @media screen and (max-width: 1200px) {
        height: 480px;
    }

    @media screen and (max-width: 992px) {
        height: 460px;
    }
}

.tour-info-container {
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    /* width: 200px; */
}

/* The popup bubble styling. */
.popup-bounds {
    /* Position the bubble centred-above its parent. */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    width: 240px;
    pointer-events: none;
}

.popup-bubble {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    pointer-events: auto;
}

.popup-inner {
    cursor: pointer;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    /* overflow-y: auto; */
    width: fit-content;
}

.popup-header {
    padding: 0px 50px;
    white-space: nowrap;
}

/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
    /* Position the div a fixed distance above the tip. */
    position: absolute;
    /* width: 100%; */
    bottom: 8px;
    left: 0;
}

.popup-bubble-divider {
    margin-top: 0px;
    margin-bottom: 0px;
}