<div class="container container-wide">
    <div class="row mb-3">
        <div class="col-6">
            <a routerLink="/" translate>ACE</a>
        </div>
        <div class="col-6">
            <div class="row d-flex justify-content-end">
                <div class="col-12 col-lg-5 col-xxl-3">
                    <select class="form-select" [ngModel]="selectedLanguage" (ngModelChange)="onLanguageChange($event)">
                        <option *ngFor="let lang of languages" [value]="lang" [translate]="'LANG.' + lang"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>