<div class="row d-flex justify-content-center">
    <div class="col-10 col-lg-6 d-flex justify-content-center">
        <form class="row d-flex justify-content-center" [formGroup]="loginForm" novalidate>
            <!-- HEADING -->
            <h3 class="col-12 mt-5 mb-4">Log in</h3>

            <!-- EMAIL -->
            <div class="col-12">
                <label for="emailInput">Email address</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="emailInput" formControlName="email">
                </div>
            </div>

            <!-- PASSWORD -->
            <div class="col-12">
                <label for="passwordInput">Password</label>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="passwordInput" formControlName="password">
                </div>
            </div>

            <!-- LOGIN BUTTON -->
            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-primary" (click)="login()">Log in</button>
            </div>

            <!-- ERROR MESSAGES -->
            <div class="col-12 mb-4">
                <!-- EMAIL ERROR -->
                <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="text-danger mb-2">
                    Email address is invalid!
                </div>

                <!-- PASSWORD ERROR -->
                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="text-danger mb-2">
                    Password must be at least 8 characters long!
                </div>

                <!-- SERVER RESPONSE ERROR -->
                <div *ngIf="errorMessage != ''" class="text-danger mb-2">
                    {{errorMessage}}
                </div>
            </div>

            <!-- FORGOT PASSWORD LINK -->
            <div class="col-12 mb-1">
                <a routerLink="/forgot-password">Forgot your password?</a>
            </div>

            <!-- REGISTER LINK -->
            <div class="col-12">
                <a routerLink="/register">Register new account</a>
            </div>
        </form>
    </div>
</div>