<div class="row d-flex justify-content-center">
    <div class="col-10 col-lg-6 d-flex justify-content-center">
        <form class="row d-flex justify-content-center" [formGroup]="forgotForm">
            <!-- HEADING -->
            <h3 class="col-12 mt-5 mb-4">Account recovery</h3>

            <!-- EMAIL -->
            <div class="col-12">
                <label for="emailInput">Email address</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="emailInput" formControlName="email">
                </div>
            </div>

            <!-- RECOVER BUTTON -->
            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-primary" (click)="recover()">Send recovery link</button>
            </div>

            <!-- ERROR MESSAGES -->
            <div class="col-12 mb-4">
                <!-- EMAIL ERROR -->
                <div *ngIf="forgotForm.controls['email'].invalid && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)" class="text-danger mb-2">
                    Email address is invalid!
                </div>

                <!-- SERVER RESPONSE ERROR -->
                <div *ngIf="errorMessage != ''" class="text-danger mb-2">
                    {{errorMessage}}
                </div>
            </div>
        </form>
    </div>
</div>