<div class="row d-flex justify-content-center">
    <div class="col-10 col-lg-6 d-flex justify-content-center">
        <div class="row d-flex justify-content-center">
            <!-- HEADING -->
            <h3 class="col-12 mt-5 mb-4">Account recovery</h3>

            <!-- EMAIL -->
            <div class="col-12">
                <label for="email-input">Email address</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="email-input" [(ngModel)]="emailAddress">
                </div>
            </div>

            <!-- RECOVER BUTTON -->
            <div class="col-12 mb-4">
                <button type="button" class="btn btn-primary" (click)="recover()">Send recovery link</button>
            </div>
        </div>
    </div>
</div>